html {
    font-size: 18px;
}

body{
    font-family: Tahoma, sans-serif;    
}

button {
    background: none; 
    border: 2px solid #8a2be2;   
    border-radius: 5px;
    color: blueviolet;
    cursor: pointer;    
    font-weight: bold;
    outline: none;
    padding: 8px 15px;
    transition: all 0.3s;
}

.wrap {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    box-sizing: content-box;
    margin: 100px auto;
    width: 600px;    
    padding: 25px;
}

.link {
    background: url('./assets/Octocat.jpg') no-repeat left center;
    background-size: 35px 35px;
    color: #333;
    font-size: 1.1rem;
    padding: 10px 40px;
    text-decoration: none; 
    transition: all 0.3s;   
}

.link:hover {
    color: rgb(95, 6, 179);
    text-decoration: underline;    
}
